

.algolia-autocomplete {
  width: 90%;
}

.aa-input-icon {
  height: 26px;
  width: 26px;
  position: absolute;
  top: 50%;
  right: 16px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  fill: #e4e4e4; 
}


.aa-hint {
  color: gray; 
}


.aa-dropdown-menu {
  background-color: #fff;
  border: 2px solid rgba(228, 228, 228, 0.6);
  border-top-width: 1px;
  font-family: 'Open Sans', sans-serif;
  width: 500px;
  margin-top: 10px;
  font-size: 18px;
  border-radius: 5px;
  box-sizing: border-box;
  word-wrap: break-word; 
}

@media screen and (max-width: 991px) {
  .aa-dropdown-menu {
    width: 300px !important;

  }
}

.aa-suggestion {
  color:#000;
  padding: 12px;
  border-top: 1px solid rgba(228, 228, 228, 0.6);
  cursor: pointer;
  -webkit-transition: .2s;
  transition: .2s;
  /* display: -webkit-box;
  display: -ms-flexbox;
  display: flex; */
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .aa-suggestion:hover, .aa-suggestion.aa-cursor {
    background-color: #f1f1f1; }
  .aa-suggestion > span:first-child {
    color: gray; }
  .aa-suggestion > span:last-child {
    text-transform: uppercase;
    color: #a9a9a9; 
  }
.aa-suggestion span em {
  font-weight: 700;
  font-style: normal;
  background-color: #f2f2f2;
  padding: 2px 0 2px 2px; }

  .algolia-result {
      display: flex;
      justify-content: space-between;
      align-items: center;
      color:#000;
      text-decoration: none !important;
  }
  .algolia-result:hover {
      
      color:#000 !important;
  }

  .algolia-thumb {
      max-width: 35px;
      max-height: 35px;
  }

  .algolia-details {
      color: #919191;
  }

  .ais-hits--item em {
    background-color:#729d28;
  }



