body {
    overflow-x: hidden;
}

/* NavBar styling */

/* Added background color for email and phone links */
.contact-info {
    background-color: #39B54A;
    padding: 0 74px 0 50px;
    border-radius: 10px;
    margin-right: -64px;
}

/* telephone and email links styling */
.navbar-brand-1 span {
    color: #fff !important;
}

/* Links to the other pages styling */
.navbar-expand-lg .navbar-nav .nav-link {
    margin-left: 50px;
    margin-top: 10px;
    color: black;
}

/* Cart button styling */
.accented-button {
    background-color: #EB9833;
    padding: 5px 20px;
    border-radius: 10px;
    color: #fff;
}

/* End of NavBar styling */



/* Footer styling */


/* Added background image for footer */
#footer {
    background-image: url("/images/layouts/footer-img.jpg") !important;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* Socila media icons */
.footer-link-1 {
    margin: 5px;
}

/* Email input field */
.newsletter-input-field input {
    border-radius: 10px;
    border: none;
    box-shadow: none;
    outline: none;
    height: 40px;
}

/* Email submit button */
.newsletter-submit {
    border-radius: 10px;
    border: none;
    box-shadow: none;
    outline: none;
    width: 40%;
    height: 30px;
    background-color: #39B54A;
    color: #fff;
}

/* Enf of footer styling */





/* Home page styling */

 /* Splash Screen CSS */

/* Main image on home page */
#splashScreenSection {
	background-image: url("/images/home/home-main.png") !important;
	background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: calc(100vh - 161px);
    border-bottom: 5px solid #39B54A;
    display: flex;
    align-items: center;
}

/* motivation text on the home page h1 with green background */
.main-motivation-content h1 {
    color: #fff;
    background-color: #39B54A;
    padding: 15px 20px 15px 20px;
    border-radius: 10px;
    margin-top: 200px;
    font-weight: 400;
}

/* Who we are section */

#whoWeAre {
    background-image: url("/images/home/bih.png") !important;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.who-we-are-content {
    line-height: 40px;
}


/* Coming soon section */

#comingSoon {
    background-image: url("/images/home/coming-soon.png") !important;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


 /* End of home page styling 




 /* About Us page styling */

#splashAboutUs {
    background-image: url("/images/about/splash-about-us.png") !important;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-bottom: 5px solid #39B54A;
    height: 400px;
}

#secondSplashAbouUs {
    background-image: url("/images/about/splash-about-us-two.jpg") !important;
    background-repeat: no-repeat;
    height: 400px;
    object-fit: contain;
}

.our-team img {
    width: 70%;
    object-fit: cover;
}

 /* End of About Us styling */